*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.main img{
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 5%;
}

.main .first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
} 

.main .second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main .third{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main .first .first-img{
    position: relative;
}

.main .first .first-img .text-overlay{
    position: absolute;
    top: 10%;
    left: 1.5%;
    font-size: 25px;
    color: #002d58;
}

.main .second .II-img-2 .inner-div{
    display: flex;
    /* gap: 24px; */
}